<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="aiEngine"/>
    <springProperty scope="context" name="LOG_DIR" source="athena.log.dir" defaultValue="./logs"/>
    <springProperty scope="context" name="MAX_FILE_SIZE" source="athena.log.rolling.max-file-size" defaultValue="100MB"/>
    <springProperty scope="context" name="MAX_INDEX" source="athena.log.rolling.max-index" defaultValue="4"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="FILE_PATTERN_ANSI" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %highlight(%-5level) %clr([%thread]){faint} %clr([%X{traceId:-}]){magenta} %clr(%class{36}){cyan} %clr(-){faint} %msg%n%wEx"/>
    <property name="FILE_PATTERN_PLAIN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{traceId:-}] %class{36} - %msg%n%ex{full}"/>
    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %highlight(%-5level) %clr([%thread]){faint} %clr([%X{traceId:-}]){magenta} %clr(%class{36}){cyan} %clr(-){faint} %msg%n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}.all.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- Switch to ${FILE_PATTERN_PLAIN} if the file logs need to be ES-friendly. -->
            <pattern>${FILE_PATTERN_ANSI}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SERVER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}.server.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN_ANSI}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="OPENFEIGN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.openfeign.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}.openfeign.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN_ANSI}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SPRING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}.spring.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN_ANSI}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}.sql.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${MAX_INDEX}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN_ANSI}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="ai.platform" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SERVER_FILE"/>
    </logger>

    <logger name="org.springframework" level="DEBUG">
        <appender-ref ref="SPRING_FILE"/>
    </logger>

    <logger name="org.athena" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SERVER_FILE"/>
    </logger>

    <logger name="org.springframework.cloud.openfeign" level="DEBUG">
        <appender-ref ref="OPENFEIGN_FILE"/>
    </logger>

    <logger name="feign" level="DEBUG">
        <appender-ref ref="OPENFEIGN_FILE"/>
    </logger>

    <logger name="org.apache.ibatis" level="DEBUG">
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <logger name="org.mybatis" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <logger name="com.baomidou.mybatisplus" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <logger name="java.sql" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ALL_FILE"/>
    </root>
</configuration>
